{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- About Me (Left Sidebar) Start -->
        <aside class="col-md-3">
            <img alt="Аватарка" src="../static/images/pic/my-pic.jpg" class="img-thumbnail">
            <h1>Адам Смит</h1>
            <span>Цветовод-обзоровед</span>

            <!-- About Me (Left Sidebar) End -->
            <!-- Contact Me Start -->
            <h4>Связаться со <span>мной.</span> Хотя и не советую.</h4>
            <p><a href="tel:+74951032314">+74951032314</a></p>
            <p><a href="mailto:mail@example.ru">Написать пару строк</a></p>
            <p>Втор - Среда 09:00 – 09:27</p>
            <!-- Contact Me End -->
        </aside>
        <!-- Contact (Right Sidebar) Start -->
        <div class="col-md-9">
            <div class="col-md-12 page-body">
                <div class="col-md-12 content-page">
                    <!-- Intro Start -->
                    <div>
                        <h2>Давно искали потрясающий сайт с обзорами?</h2>
                    </div>
                    <p>Вот уже на протяжении не одного месяца ведется работа по созданию передового сайта с обзорами на новинки кино.</p>
                    <!-- Intro End -->
                    <!-- Testimonials Start -->
                    <div>
                        <h2>Уверен, что вы уже ознакомились с потрясающими обзорами к новинкам  <a href="#" title="Случайный обзор">киноиндустрии</a>. Если нет, то смотрите!</h2>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <img src="../static/images/testimonial/1.jpg" alt="Александр Невский" class="rounded">
                            <p>Я просто не верю своим глазам. Да и чужим тоже не очень.</p>
                            <h3>Александр Невский</h3>
                                <span>Капитан дальнего плавания</span>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <img src="../static/images/testimonial/2.jpg" alt="Володя" class="rounded">
                            <p>Кто не спрятался, Рафик не виноват!</p>
                            <h3>Володя</h3>
                                <span>Свидетель Рафика Иегова</span>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <img src="../static/images/testimonial/3.jpg" alt="Владлена Куприна" class="rounded">
                            <p>Всё, что происходит на этом сайте - остается на этом сайте. Остальное - тлен.</p>
                            <h3>Владлена Куприна</h3>
                                <span>Мойра в третьем поколении</span>
                        </div>
                    </div>
    <!-- Testimonials  End -->
{% endblock %}
