{% extends "base.html" %}

{% block title %}Обзорник | {% if current_user.username %}{{ current_user.username }}{% else %} Незнакомец{% endif %} {% endblock %}

{% block content %}
    <div class="container page-header col-8">
        <h1>Привет, {% if current_user.username %}{{ current_user.username }}{% else %} Незнакомец{% endif %}!</h1>
    </div>
    <div class="container">
        <br>
        <div class="alert alert-warning">
            <p>Локальное время: {{ moment(current_time).format('LLL') }}</p>
            <p>Это было {{ moment(current_time).fromNow(refresh=True) }}</p>
        </div>
        <br>
        <div class="container pb-4">
        <h2>Вывод всех постов:</h2>
            {% for post in posts %}
            <div class="container">
                <a href=post/{{ post.id }}>
                    <h3>{{ post.title }}</h3>
                    <h4>Автор: {{ post.user.username }}</h4>
                </a>
                <h5>Написан: {{ post.timestamp }}</h5>
            </div>
            <hr>
            {% endfor %}
            <hr>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {{ moment.locale('ru') }}
{% endblock %}