{% extends 'bootstrap/base.html' %}

{% block title %}
Мой блог | {{ current_user.username }}
{% endblock %}

{% block body %}
<div class="container col-8">
<h2>Вывод всех постов:</h2>
<article class="article">Текст поста: {{ posts }}</article>
<article class="article">Текст поста: {{ posts }}</article>
<article class="article">Посты (все): {{ posts_all }}</article>
<article class="article">Блок для поста 1{{ query_posts }}</article>
<article class="article">Блок для поста 2{{ posts }}</article>
<article class="article">Блок для поста 2-1{{ posts }}</article>
<article class="article">Блок для поста 3</article>
<br>
<div class="time">
<div>Локальное время: {{ moment(current_time).format('LLL') }}</div>
<div>Это было {{ moment(current_time).fromNow(refresh=True) }}</div>
</div>
</div>

{% endblock %}

