{% extends 'base.html' %}

{% block title %}
Добавить обзор
{% endblock %}

{% block content %}

<!-- Page Header -->
    <header style="background-image: url('{{ url_for('static', filename='images/bg/pattern-bg.png') }}')">
      <div class="container">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Добавить обзор</h1>
            </div>
          </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <form name="addForm" id="addForm" method="POST" action="{{ url_for('auth.addpost') }}" novalidate>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Заголовок</label>
                <input type="text" class="form-control" placeholder="Заголовок" name="title" id="title"
                       required data-validation-required-message="Укажите заголовок обзора.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12">
                <label>Автор: {{ current_user.username }} </label>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group">
                <label>Содержимое обзора</label>
                <textarea rows="5" class="form-control" placeholder="Текст обзора" name="content" id="content"
                          required data-validation-required-message="Введите текст обзора"></textarea>
              </div>
            </div>
            <br>
            <div class="form-group">
              <button type="submit" class="btn btn-secondary" id="sendMessageButton">Опубликовать</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <hr>
{% endblock %}