{% extends 'bootstrap/base.html' %}

{% block title %}
Информация о пользователе
{% endblock %}

{% block content %}
<div class="container col-8">
  <h1>(INDEX AUTH)Информация о пользователе:</h1>
  <ul class="list-group col-8">
    <li class="list-group-item">Авторизован: {{ current_user.is_authenticated }}</li>
    {% if current_user.is_authenticated %}
    <li class="list-group-item">Пользователь: {{ current_user.username }}</li>
    <a class="btn btn-outline-primary" role="button" href="/auth/logout/">Выйти</a>
    {% endif %}
    {% if not current_user.is_authenticated %}
    <a class="btn btn-primary" role="button" href="/auth/login/">Войти</a>
    {% endif %}
  </ul>
</div>
{% endblock %}