<!doctype html>
<html lang="ru">
    <head>
        {% block head %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}" type="image/x-icon">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>
            {% block title %}Base title{% endblock %}
        </title>
        {% endblock %}
    </head>
    <body>

    {% block navbar %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='images/favicon/logo.png') }}" width="30" height="30"
                 class="d-inline-block align-top" alt="Logotype image" loading="lazy">
            Обзорник</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Главная <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/about">О нас</a>
                {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="/auth/add">Добавить пост</a>
                <a class="nav-item nav-link" href="/auth/logout">Выйти</a>
                <a class="nav-item nav-link" href="/auth" tabindex="-1" >{{ current_user.username }}</a>
                {% endif %}
                {% if not current_user.is_authenticated %}
                <a class="nav-item nav-link" href="/auth/login">Войти</a>
                <a class="nav-item nav-link" href="/auth/register">Зарегистрироваться</a>
                <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{ 'Аноним' }}</a>
                {% endif %}
            </div>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Найти">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
        </form>
    </nav>
    {% endblock %}

    {% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}

        {% block page_content %}{% endblock %}
    </div>
    {% endblock %}

    {% block footer %}
    <!-- Footer Start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center fixed-bottom">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/post/1">Случайный пост</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/about">О нас</a>
            </li>
        </ul>
    </nav>
    <!-- Footer End -->
    {% endblock %}

    {% block scripts %}
    {{ moment.include_moment() }}
    {{ moment.include_jquery() }}
    {{ moment.locale('ru') }}
    {% endblock %}

    </body>
</html>